html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
.containerImg{
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.7);
    /* display: fixed; */
    position: fixed;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10000;
    padding: 5vw;
}
#obrazek{
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    /* min-height: 2vh;
    min-width: auto; */
    /* width: fit-content; */
    transform: scale(2.5);
}
/* #obrazek:hover{
    transform: scale(3);
} */

/* @keyframes Powiększanie {
    
} */
#containerImg{
    display: flex;
    flex: 9;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vh;
}

#obrazek{
    display: flex;
    flex: 9;
    padding: 1vh;
}

.opis{
    display: flex;
    text-align:left;
    color: whitesmoke;
    padding: 1vw;
    border-radius: 1vh;
    background-color: rgba(55, 55, 55, 0.8);
}

#obrazekBtn{
    display: flex;
    flex: 1;
}

#bigPictureBtn{
    box-shadow: inset 0px 0px 4px #f5f5f5;
}

#bigPictureBtn:hover{
    box-shadow: inset 0px 0px 8px #f5f5f5;
}
