/* -------------WYDARZENIA------------- */

.card-wydarzenia{
    position: absolute;
    background-color: white;
    backdrop-filter: blur(5px);
    z-index: 20;
    width: 80vw;
    height: 80vh;
    border-radius: 20px;
    padding-bottom: 5px;
    color: black;
    background-color: rgb(14, 14, 14);
    overflow: auto;
}

#panel-wydarzenia{
    background-color: hsl(214, 9%, 15%);
}

.filter-menu{
    background-color: hsl(214, 9%, 5%);
    border-radius: 1vh;
    width: 100%;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

.filter-menu select {
    height: 3vh;
    padding: 5px;
    display: flex;
    border-radius: 0.5vh;
}

.filter-menu option {
    padding: 5px;
    background-color: #e0e0e0;
    margin: 1vh 1vh
}
.filter-menu option:nth-child(odd) {
    background-color: #c7c7c7;

}

.container-wydarzenia{
    padding: 50px;
    display: grid;
    padding-top: 50px;
    grid-template-columns: repeat(auto-fit, minmax(250px,0.30fr));  
    gap: 50px;
    row-gap: 100px;
    /* transform: translateY(11%); */
    /* justify-content: center; */
}

.karta{
    height: 500px;
    width: 300px;
    perspective: 1000px;
    /* animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%; */
    /* box-shadow: 2 2 8px  rgba(50,50,50,0.2); */
    /* padding: 20px; */
    /* position: relative; */
    /* background-color: aqua;
    border-radius: 8%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column-reverse; */
    /* backdrop-filter: ; */
}

@keyframes appear {
    from{
        scale: 0.5;
    }
    to{
        scale: 1;
    }
}

.info-card{
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.karta:hover > .info-card{
    cursor: pointer;
    transform: rotateY(180deg);
}
.front, .back{
    height: 100%;
    width: 100%;
    padding: 5px;
    border-radius: 8%;
    box-shadow: 0 4px 20px rgba(0,0,0,0.7);
    position: absolute;  
    backface-visibility: hidden;
    /* overflow: auto; */
}

.back{
    /* background-color: #4a525a; */
    background-color: #d7cdcd;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1vw;
    gap: 5px;
    z-index: 0;
    position: relative;
}
/* .przycisk-wydarzenia:after{
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    border-radius:  10px;
}

.przycisk-wydarzenia::before{
    content: "";
    background: linear-gradient(
        45deg,
        #aba392,#e9eae6,#43270f,#977146,
        #231809,#693017,#1a0d08,#dfe6f4,
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition:  opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 1;
}

@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
} */

.tytul-wydarzenia{
    font-size: 1vw;
    font-weight: 700;
}
.tekst-wydarzenia{
    font-size: 0.7vw;
    font-weight: 350;
    overflow-y: auto;

}
.przycisk-wydarzenia{
    padding: 5px 40px;
    outline: none;
    border: none;
    background-color: #333;
    border-radius: 5px;
    position: relative;

}

.front::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 8%;
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.7))
}
.karta .front{
    font-size: 25px;
    color: white;
    font-weight: 600;
    z-index: 1;
}
