.nunito-sans-tekst {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

.card{
    position: absolute;
    /* background-color: rgba(255, 255, 255, 0.2); */
    background-color: white;
    backdrop-filter: blur(5px);
    z-index: 20;
    width: 80vw;
    height: 80vh;
    border-radius: 20px;
    padding: 20px;
    padding-bottom: px;
    color: blaCK;
}
#container #tekst .epoka{
  font-weight: 900;
  font-size: 200

}
#container{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: visible;
    padding-right: 5px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    font-family: "Nunito Sans", sans-serif;
}

#ateny{
    border-radius: 5px;
}


#tekst{
    display: flex;
    flex-direction: column;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#tekst-ateny{
 flex: 2;
}

#zdjecie-ateny{
    flex: 1;
    padding: 10px;
}

.ateny{
    display: flex;
    flex-direction: row;

}
#container #tekst{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-size: 150%;
    font-weight: 700;
}
h3{
    font-weight: 900;

}

#container #tekst #wstep{
    height: 700px;
    width: 100%;
}

#przycisk{
    width: 100%;

    
}

#container #przycisk {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    position: fixed;
    bottom: 0px;
    padding: 30px;

}

#container #close {
    display: flex;
    position: sticky;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    width: 120px;
    height: 52.5px;
    padding: 10px;
    font-weight: 800;
    font-size: 120%;
    background-color: rgb(0, 21, 128);
    box-shadow: 0 -4px 20px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-track{
    background-color: none;
    
}
::-webkit-scrollbar{
    width: 10px;
    margin: 5px
    
}
::-webkit-scrollbar-thumb{
    background-color: black;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(37, 36, 36);
}