.card{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    z-index: 20;
    width: 80vw;
    height: 80vh;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

button {
    display: flex;
    justify-content: end;
    align-items: end;
}
