.card{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    z-index: 20;
    width: 80vw;
    height: 80vh;
    border-radius: 20px;
    padding: 20px;
    padding-bottom: px;
    color: blaCK;
}

#container{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: visible;
    padding-right: 5px;
    width: 100%;
    height: 100%;
}
#container #tekst{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 100%;
    line-height: 200%;
    flex-direction: column;
    padding-top: 30px;
}
#title{
    position: sticky;
    display: flex;
    justify-self: flex-start;
    top: 10px;
    background-color: rgba(51, 51, 51);
}
#wstep{
    width: 100%;
    height: 2000px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container #przycisk {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    position: sticky;
    bottom: 0px;
    padding: 10px;
    background-color: rgba(51, 51, 51);
    box-shadow: 0 -4px 8px rgba(0,0,0,0.2);
}
#container #close {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    width: 120px;
    height: 52.5px;
    padding: 10px;
    font-weight: 800;
    font-size: 120%;
    background-color: rgb(0, 21, 128);
}
#container #close:hover{
    background-color: rgb(21, 2, 116);
}

::-webkit-scrollbar-track{
    background-color: none;
    
}
::-webkit-scrollbar{
    width: 10px;
    margin: 5px
    
}
::-webkit-scrollbar-thumb{
    background-color: black;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(37, 36, 36);
}
