.nunito-sans-tekst {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

.card{
    position: absolute;

    background-color: white;
    backdrop-filter: blur(5px);
    z-index: 20;
    width: 80vw;
    height: 80vh;
    border-radius: 20px;
    /* padding: 20px; */
    padding-bottom: 5px;
    color: blaCK;
    background-color: rgb(14, 14, 14);
    overflow: hidden;
}
.container{
    background: radial-gradient(
        /* circle, */
        transparent 60%,
        rgba(0,0,0,0.6) 100%
        );
        
    }
    .card::after{
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(
        /* circle, */
        transparent 60%,
        rgba(0,0,0,0.6) 100%
        );
        pointer-events: none;
        z-index: 50;
    }
    
    
    #container{
        height: 100%; 
        width: 100%;
        position: absolute;
    }
    img{
        height: 100%;
        width: 100%;
        
        z-index: 1;
    }
    #slideshow img {
        width: 100%;
        height: 100%;
        position:fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: cover;
        z-index: 1;
        opacity: 0;
        animation: fade 27s infinite;
        filter: blur(5px);
    }
    
    
    #slideshow img:nth-child(1) {animation-delay: 0s;}
    #slideshow img:nth-child(2) {animation-delay: 9s;}
    #slideshow img:nth-child(3) {animation-delay: 18s;}
    
    @keyframes fade {
        0% {opacity: 0;}
        10% {opacity: 1;}
        33% {opacity: 1;}
        40% {opacity: 0;}
        100% {opacity: 0;}
    }
    #text{
        display: flex;
        width: 100%;
        height: 80%;
        justify-content: center;
        align-items: center;
        color: white;
        z-index: 10;
        position: relative;
    }
    .przycisk {
        display: flex;
        position: sticky;
        justify-content: center;
        align-items: center;
        width: 100%; 
        background-color: transparent;
        /* position: fixed; */
        bottom: 0px;
        padding: 30px;
        z-index: 10;
        gap: 20px;
        
    }
    h1{
        z-index: 10;
    }
    #title{
        font-size: 12rem;
        font-weight: 900;
        line-height: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        text-shadow: 5px 5px 15px rgba(0,0,0,0.7);
        
    }
    .close {
        display: flex;
        position: sticky;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        border: none;
        width: 120px;
        height: 52.5px;
        padding: 10px;
        font-weight: 800;
        color: white;
        font-size: 120%;
        background-color:black;
        z-index: 10;
        box-shadow: 0 -4px 20px rgba(0,0,0,0.7);
    }
    
    /* --------PANEL Z TEKSTEM-------- */
    
    .content{
        position: absolute;
        background-color: white;
        backdrop-filter: blur(5px);
        z-index: 20;
        width: 80vw;
        height: 80vh;
        border-radius: 20px;
        /* padding: 20px; */
        padding-bottom: 5px;
        color: blaCK;
        overflow-y:scroll;
        background-color: rgb(14, 14, 14);
        /* scroll-snap-type: y mandatory; */
    }
    .test1, .test2{
        position: relative;
        min-height: 100%;
        width: 100%;
        /* scroll-snap-align: start; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .test1{
        background-color: blue;
    }
    .test2{
        background-color: aqua;
    }
    #close-main{
        /* position: sticky; */
    }

    ::-webkit-scrollbar-track{
        background-color: none;
        
    }
::-webkit-scrollbar{
    width: 10px;
    margin: 5px
    
}
::-webkit-scrollbar-thumb{
    background-color: black;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(37, 36, 36);
}