/* -------------WYDARZENIA------------- */

.card-wydarzenia{
    position: absolute;
    background-color: white;
    backdrop-filter: blur(5px);
    z-index: 20;
    width: 80vw;
    height: 80vh;
    border-radius: 20px;
    padding-bottom: 5px;
    color: black;
    background-color: rgb(14, 14, 14);
    overflow: auto;
}

#panel-wydarzenia{
    background-color: hsl(214, 9%, 15%);
}

.container-wydarzenia{
    display: grid;
    padding-top: 40px;
    grid-template-columns: repeat(4, 0.2fr);
    gap: 20px;
    row-gap: 50px;
    justify-content: center;
}

.karta{
    height: 35vh;
    width: 13vw;
    padding: 20px;
    position: relative;
    background-color: aqua;
    border-radius: 8%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* backdrop-filter: ; */
}

.karta::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* height: 50%; */
    border-radius: 8%;
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.7))
}
.karta .front{
    font-size: 25px;
    color: white;
    font-weight: 600;
    z-index: 1;
}
